@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.listado-servicios {
    display: grid;
    gap: 2rem;
    
    @include m.tablet {
        @include m.grid(2, 2rem);
    }
    .servicio {
        text-align: center;
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: 1rem;
        transition: transform ease-in .1s;

        &:hover {
            transform: scale(1.1);
        }

        &.seleccionado {
            background-color: v.$azul;
            p {
                color: v.$blanco;
            }
        }

        p {
            color: v.$negro;
            margin: 0 0 calc(v.$separacion / 4) 0;
        }
        .precio-servicio {
            color: v.$azul;
            font-weight: v.$bold;
            font-size: 3rem;
            margin: 0;
        }
    }
}